	body{font-family: Arial, sans-serif; margin:0; padding:0; /*background-color: #ccdddd;*/ font-size: 14px;}
	a{color: orange;}
	#header{width: 100%; height: 55px; position:fixed; top:0; z-index: 1000;}
	#header #centerWidth{width: 100%; margin:0 auto; background-color: rgba(255,255,255,1); 	-webkit-box-shadow: 0 4px 6px -2px black;
	   -moz-box-shadow: 0 4px 6px -2px #666;
	        box-shadow: 0 4px 6px -2px #666;
	    }
	#header #centerWidth h1{padding-left:50px; margin: 7px 0 8px 0; font-family: Arial, sans-serif; }
	#header #centerWidth #titleBar h1{background:#FFF url(../images/logo.png)15px center no-repeat; background-size: 30px 30px; }
	#header #titleBar {display: inline-block;/*float: left; width: 32%;*/}
	#header #centerWidth #titleBar h1 a{color: #333; text-decoration: none;}
	#header #titleBar{padding:0; margin:0;}
	#header .dropdownCategories.right{float: none; margin-top:0; padding:0;}
	.right{text-align: center;}

	/*#header .dropdownCategories, #header .dropdownCategories a li{display:none;}*/
	#header .dropdownCategories {display: none;}
	#header .dropdownCategories, #header .dropdownCategories a{width: 100%; background-color: #FFF;}
	#header .dropdownCategories a li{border-top: 1px solid #CCC; padding: 10px 5px; list-style: none; padding-left:0; margin-left:0;}

	#menuButton{position: fixed; top: 0; right: 10px; width: 30px; height: 30px; margin: 10px 10px 0 0;}


	.clearAll {clear:both;}

	#container{width:100%; margin:0 auto; padding:0; background-color: #FFF;}
    #container iframe#video, #container video{margin: 45px auto 0 auto; padding: 0;
        max-width: 1024px;
        display: block;}
	#container h3.insetHeadline{margin-top: 50px; padding-left: 20px; color: #999;}

	.section{width: 90%; margin: 0 5%; padding: 10px 0 0 0;}
	.section h3{color:#999; text-transform: uppercase; font-weight: normal; font-size: 1.6em;}
    .section p{line-height: 1.5em;}

	#mission p, #followUs p, .section.mapDescription p{font-size: 1.3em; line-height: 1.7em;}


	/*Staff styles*/
	#staff h3{margin-bottom:0; margin-left: 5%;}

	#staff.section{width: 100%; margin: 0; padding: 0;}
	#staff .member{width: 100%; display: block; margin: 0; padding: 25px 0; border-top: solid 1px #CCC; clear:both;}
	#staff .member .photo{width: 20%; margin: 0 2% 0 5%; float:left; /*border-radius: 10px*/}

	#staff .member .photo img.square{width: 100%; padding: 0; height: auto;}
	#staff .member .photo img.rectangle{display: none; width: 100%; padding: 0; height: auto;}
	#staff .member .profile{padding:0 5% 20px 0; float: right; width: 65%}
	#staff .member .profile p{margin:0;}
	#staff .member .profile h4{font-size: 20px; margin: 0;}
	#staff .member .profile p.biography{/*font-family: serif;*/ margin-top: 10px; line-height: 1.7em;}


	/*Social buttons*/
	#followUs a{width: 24%; height: auto; box-sizing: border-box; -webkit-box-sizing: border-box; display: inline-block; }
	/*#followUs a{width: 32%; height: auto; box-sizing: border-box; -webkit-box-sizing: border-box; display: inline-block; }*/
	#followUs a span{}
	#followUs img.square{width:100%; height: 100%;}
	/*
	a#email{background: url(../images/social_email.png) center / 100%; vertical-align: top;}
	a#facebook{background: url(../images/social_facebook.png) top center / 102%; vertical-align: top;}
	a#github{background: url(../images/social_github.png) center / 100%; vertical-align: top;}
	a#instagram{background: url(../images/social_instagram.png) center / 100%; vertical-align: top;}
	a#linkedin{background: url(../images/social_linkedin.png) center / 100%; vertical-align: top;}
	a#medium{background: url(../images/social_medium.png) center / 100%; vertical-align: top; border:1px solid #CCC;}
	a#soundcloud{background: url(../images/social_soundcloud.png) center / 102%; vertical-align: top;}
	a#twitter{background: url(../images/social_twitter.png) center / 100%; vertical-align: top;}
	a#whatsapp{background: url(../images/social_whatsapp.png) center / 100%; vertical-align: top;}
	a#youtube{background: url(../images/social_youtube.png) center / 100%; vertical-align: top;}
	*/

    #followUs a .floatingText{display:none;}
    #followUs a .floatingText h3{color:#333; font-size: 1.1em;}

	a#email{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 0px; vertical-align: top;}
	a#facebook{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 11%; vertical-align: top;}
	a#github{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 22%; vertical-align: top;}
	a#instagram{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 33.5%; vertical-align: top;}
	a#linkedin{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 44%; vertical-align: top;}
	a#medium{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 55%; vertical-align: top;}
	a#soundcloud{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 66.5%; vertical-align: top;}
	a#twitter{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 77.5%; vertical-align: top;}
	a#whatsapp{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 88.5%; vertical-align: top;}
	a#youtube{background: url(../images/social.jpg) no-repeat 0px 0px / 100%; background-position: 0px 100%; vertical-align: top;}


	/* map styles */
	#map-rize{width:100%; height: 300px; margin-top: 25px;}
    .section.mapDescription{padding:0;}

	/* footer styles */
    #footer{background-color: #000; color: #999; width:100%; margin: 0 auto; padding: 20px 0;}
    #footer p{padding: 0 5%;}

    /*
	@media only screen and (min-width: 500px) {
		#staff.section{width: 90%; margin: 0 5%; padding: 35px 0 0 0;}
		#staff .member .profile{padding:0;}
		#staff .member .photo{width: 30%; margin: 0 4% 0 0;}

		#staff .member{width: 48%; display: inline-block; margin: 0 1.5% 30px 0; padding: 0; vertical-align: top; border-bottom: none;}
		#staff h3{margin-bottom:30px;}
	}
*/
    @media only screen and (min-width: 500px) {
        #footer {margin: 20px auto 0 auto; }
    }

    @media only screen and (min-width: 700px) {

        #staff.section{width: 90%; margin: 0 5%; padding: 35px 0 0 0;}
        #staff .member .profile{padding:0;}
        #staff .member .photo{width: 30%; margin: 0 4% 0 0;}

        #staff .member{width: 48%; display: inline-block; margin: 0 1.5% 30px 0; padding: 0; vertical-align: top; border-top: none;}
        #staff h3{margin-bottom:30px;}


        body {font-size: 18px;}
		#header #centerWidth {text-align: center;}
		#header #centerWidth #titleBar h1{background:url(../images/logo.png)5px center no-repeat; background-size: 40px 40px;}
		#header #titleBar {/*float: left; width: 32%;*/padding-top:15px;}
		#header .dropdownCategories.right{float: right; padding-left:0; padding-right:0;}
		
		/*
		.container iframe{margin: 25px 0 0px 0;}
		.container iframe#video, 
		*/

        #container iframe, #container video{margin: 70px 0 0px 0;}

        #followUs a{width: 25%; /*12.4%;*/}

		#staff .member .profile p.biography{font-size: .8em; line-height: 1.4em;}
		#staff .member .profile p.role{font-size:.9em;}
		#staff h3{margin-left: 0%;}

		/*#staff .member{width: 29%; display: inline-block; margin: 0 3.7% 50px 0; padding: 0;}*/
		#menuButton{display: none;}
		.section {max-width: 950px; margin-left:auto; margin-right: auto;}
		.section#staff {max-width: 950px; margin-left:auto; margin-right: auto; margin-bottom: 30px;}

        #followUs a:hover .floatingText{position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: table;
            width: 80%;
            padding-left: 0;
            margin: auto;
            text-align: center;
        }
	}
    @media only screen and (min-width: 1024px) {
        #container{border: 1px solid #c2ccd1; max-width: 1024px;}
        #footer {max-width: 1024px; margin: 0 auto; padding:0;}
        #footer p{margin: 0 auto; padding: 30px 5%;}
    }